$midnight: #100E08;
$dark-black: #000000;
$breeze: #f9f9e4;
$cloudLight: rgba(249, 249, 249, 0.4);
$dark-grey: #534d46;
$extra-grey: #373737;
$focused: #458fff;
$green: #23c87d;
$grey: #b9b3ac;
$grey92: #ebebeb;
$grey03: #989190;
$grey04: #7f7f7f;
$primary-grey: #d7d7d7;
$secondary-grey: #f0f0f0;
$hovered: #00323d;
$interactive-critical: #e90003;
$light-green: #007787;
$light-grey-border: #e3e3e3;
$light-grey: #f3efea;
$lighter-grey: #464646;
$primary: #004554;
$red: #ff5e60;
$light-red: #ffe6e8;
$white: #ffffff;
$grey-background: #f5f5f5;
$yellow: #FFDD00;
$dark-yellow: #ff9e00;
$light-yellow: #fff8de;


// box shadows
$dark-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.09);
$light-grey-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.15),
  0 0.1875rem 0.0625rem rgba(0, 0, 0, 0.06);
