@import "./_colors.scss";
@import "./_variables.scss";

@mixin title($font-size) {
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight-black;
    letter-spacing: -0.04em;
    line-height: 1.125;
}

@mixin button($height, $width, $font-size) {
    color: $breeze;
    background-color: transparent;
    border: 1px solid $breeze;
    height: $height;
    width: $width;
    font-size: $font-size;
    text-transform: uppercase;
    font-weight: $font-weight-medium;

    &:hover{
        background-color: $breeze;
        color: #000;
        transition: 0.4s ease-in-out;
    }

    @media (max-width: $screen-sm) {
        height: 57px;
        width: 250px;
        font-size: 12px;
    }
}