.body {
    font-size: 1.125rem;
    line-height: 1.125;
}

p {
    font-size: 1.125rem;
    line-height: 1.125;
    margin: 0;
}

.heading-1 {
    font-size: 7.5rem;
    font-weight: $font-weight-black;
}