@import "./variables";

.body {
    font-size: 1.125rem;
    line-height: 1.125;
}

p {
    font-size: 1.125rem;
    line-height: 1.125;
    margin: 0;
}

.heading-1 {
    @include title($font-size-9xl);
}

.heading-2 {
    @include title($font-size-8xl);
}